h1 {
  text-align: center;
  font-size: 2vw;
  strong {
    text-transform: uppercase;
  }
}

#infoDinero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  h2 {
    font-size: 1.5vw;
  }
}

table {
  text-align: center;
  border-radius: 0.5vw;
  border: none;
  overflow: hidden;
  box-shadow: 6px 8px 2px 0px rgba(0, 0, 0, 0.377);
  margin-bottom: 3vw;

  th {
    text-align: center;
    padding: 1vw;
    background: black;
    color: white;
    font-size: 1vw;
    border-collapse: collapse;
  }

  tr {
    width: 90%;
    background-color: rgb(191, 191, 191);
    transition: transform 250ms;

    &.filaHover:hover {
      background: var(--degradado);
      transition: transform 250ms;
    }

    td {
      font-size: 1.2vw;
      padding: 0 2vw;

      button {
        transition: transform 250ms;
        &:hover {
          transform: scale(1.1);
          transition: transform 250ms;
          background-color: rgb(120, 119, 119);
          border: 2px solid white;
          color: white;
        }
      }

      img {
        width: 4vw;
        &.propietario {
          width: 6vw;
        }
        &.imagenJugador {
          border-radius: 50%;
          width: 6vw;
        }
      }

      &.PT {
        span {
          border: 1px solid black;
          background-color: yellow;
          padding: 1vw;
          border-radius: 50%;
        }
      }
      &.CI {
        span {
          border: 1px solid black;
          background-color: var(--azul);
          padding: 1vw;
          border-radius: 50%;
        }
      }
      &.AL {
        span {
          border: 1px solid black;
          background-color: rgb(2, 255, 2);
          padding: 1vw;
          border-radius: 50%;
          color: black;
        }
      }
      &.PV {
        span {
          border: 1px solid black;
          background-color: red;
          padding: 1vw;
          border-radius: 50%;
          color: white;
        }
      }
    }
  }
}

#puja,
#oferta {
  margin: 0;
  margin-bottom: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    span {
      font-size: 3vw;
    }
  }

  input {
    text-align: center;
    font-size: 2vw;
    padding: 0;
    margin: 0 2vw;
  }
}

.error {
  font-size: 1.5vw;
  display: flex;
  justify-content: center;
  color: red;
}

.labelPuja {
  font-size: 1.5vw;
  display: flex;
  justify-content: center;
  padding-top: 2vw;
  padding-bottom: 0s;
}

#actions {
  .mat-button {
    font-size: 1.2vw !important;
    padding: 0.5vw 1.5vw;
  }
}

::ng-deep .mat-sort-header-arrow {
  color: white;
  zoom: 1.5;
}

:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}

.mat-azul {
  background-color: var(--azul);
  color: black;
}

.mat-rosa {
  background-color: var(--rosa);
  color: #fff;
}

//Quita las flechas del input number
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
