<mat-card class="card">
    <div class="header">
        <img src="{{imagen}}{{equipoUser.foto}}.png" class="logoEquipo" alt="logoEquipo">
        <div class="equipo">
            <p>{{equipoUser.nombre}}</p>
            <p class="liga">{{ligaUser.nombre}}</p>
        </div>
    </div>
    <mat-card-content class="info">
        <p><strong>{{equipoUser.puntos}}</strong> puntos</p>
        <p><strong>{{posicion}}</strong>ª posición</p>
        <p><strong>{{equipoUser.dinero}}</strong>€</p>
    </mat-card-content>
</mat-card>
