<div id="tablaMercado" *ngIf="!loading">
  <table
    mat-table
    [dataSource]="jugadores"
    class="mat-elevation-z8"
    aria-describedby="misJugadores"
    matSort
  >
    <!-- JUGADOR -->
    <ng-container matColumnDef="jugador">
      <th mat-header-cell *matHeaderCellDef class="header" class="primera">
        Jugador
      </th>
      <td mat-cell *matCellDef="let element" class="primera">
        <img
          src="{{ imagen }}{{ element.jugador }}.png"
          class="imagenJugador"
          alt="{{ element.alias }}"
        />
      </td>
    </ng-container>

    <!-- EQUIPO REAL -->
    <ng-container matColumnDef="equipoReal">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="header">
        Equipo
      </th>
      <td mat-cell *matCellDef="let element">
        <img
          src="{{ equipoRealLogo }}{{ element.equipoReal }}.png"
          class="imagenJugador"
          alt="{{ element.equipoReal }}"
        />
      </td>
    </ng-container>

    <!-- POSICION -->
    <ng-container matColumnDef="posicion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="header">
        Posición
      </th>
      <td mat-cell *matCellDef="let element" [ngClass]="element.posicion">
        <span>{{ element.posicion }}</span>
      </td>
    </ng-container>

    <!-- ALIAS -->
    <ng-container matColumnDef="alias">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="header">
        Alias
      </th>
      <td mat-cell *matCellDef="let element">{{ element.alias }}</td>
    </ng-container>

    <!-- ESTADO -->
    <ng-container matColumnDef="estado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="header">
        Estado
      </th>
      <td mat-cell *matCellDef="let element">
        <img
          src="{{ imagenEstado }}{{ element.estado }}.png"
          alt="estado de forma"
        />
      </td>
    </ng-container>

    <!-- PROPIETARIO -->
    <ng-container matColumnDef="propietario">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="header">
        Propietario
      </th>
      <td mat-cell *matCellDef="let element">
        <img
          class="propietario"
          src="{{ equipoUserLogo }}{{ element.propietario }}.png"
          alt="{{ element.nombreEquipoUser }}"
          matTooltip="{{ element.nombreEquipoUser }}"
          matTooltipPosition="before"
        />
      </td>
    </ng-container>

    <!-- PUNTOS -->
    <ng-container matColumnDef="puntos">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="header">
        Puntos
      </th>
      <td mat-cell *matCellDef="let element">{{ element.puntos }}</td>
    </ng-container>

    <!-- VALOR MERCADO -->
    <ng-container matColumnDef="valor">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="header">
        Valor mercado
      </th>
      <td mat-cell *matCellDef="let element">{{ element.valor }}</td>
    </ng-container>

    <!-- PRECIO VENTA -->
    <ng-container matColumnDef="precioVenta">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="header">
        Precio de compra
      </th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-raised-button
          matTooltip="Pujar por {{ element.alias }}"
          matTooltipPosition="right"
          color="basic"
          *ngIf="element.precioVenta != null"
          (click)="abrirModal(element)"
          [ngClass]="element.clasePuja"
        >
          {{ element.precioVenta }}
        </button>
        <button
          mat-raised-button
          matTooltip="Pujar por {{ element.alias }}"
          matTooltipPosition="right"
          color="basic"
          *ngIf="element.precioVenta == null"
          (click)="abrirModal(element)"
          [ngClass]="element.clasePuja"
        >
          {{ element.valor }}
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      class="filaHover"
      mat-row
      *matRowDef="let row; columns: displayedColumns"
    ></tr>
  </table>
</div>

<div *ngIf="loading">
  <app-loading></app-loading>
</div>
