<h1>Clasificación</h1>

<span *ngIf="loading">
  <app-loading></app-loading>
</span>

<span *ngIf="!loading">
  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8"
    aria-describedby="clasificacion"
    matSort
  >
    <!-- Posición Column -->
    <ng-container matColumnDef="posicion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Posición</th>
      <td
        mat-cell
        *matCellDef="let element"
        [ngClass]="{ esUserLogueado: element.id === idBuscado }"
      >
        <img
          src="{{ imagen }}primero.png"
          alt="primero"
          *ngIf="element.posicion === 1"
        />
        <img
          src="{{ imagen }}segundo.png"
          alt="segundo"
          *ngIf="element.posicion === 2"
        />
        <img
          src="{{ imagen }}tercero.png"
          alt="tercero"
          *ngIf="element.posicion === 3"
        />
        <img
          class="ultimo"
          src="{{ imagen }}ultimo.png"
          alt="ultimo"
          *ngIf="element.posicion === equiposClasificacion.length"
        />
        <span
          *ngIf="
            element.posicion != 1 &&
            element.posicion != 2 &&
            element.posicion != 3 &&
            element.posicion != equiposClasificacion.length
          "
          >{{ element.posicion }}</span
        >
      </td>
    </ng-container>

    <!-- Equipo Column -->
    <ng-container matColumnDef="nombreEquipo">
      <th mat-header-cell *matHeaderCellDef class="headerNombreEquipo">
        Equipo
      </th>
      <td
        mat-cell
        *matCellDef="let element"
        class="nombre"
        [ngClass]="{ esUserLogueado: element.id === idBuscado }"
      >
        {{ element.nombreEquipo }}
      </td>
    </ng-container>

    <!-- LogoEquipo Column -->
    <ng-container matColumnDef="logoEquipo">
      <th mat-header-cell *matHeaderCellDef></th>
      <td
        mat-cell
        *matCellDef="let element"
        class="logoEquipo"
        [ngClass]="{ esUserLogueado: element.id === idBuscado }"
      >
        <img src="{{ logoEquipo }}{{ element.foto }}.png" alt="logoEquipo" />
      </td>
    </ng-container>

    <!-- Num. Jugadores Column -->
    <ng-container matColumnDef="numJugadores">
      <th mat-header-cell *matHeaderCellDef>Num. Jugadores</th>
      <td
        mat-cell
        *matCellDef="let element"
        [ngClass]="{ esUserLogueado: element.id === idBuscado }"
      >
        {{ element.numJugadores }}
      </td>
    </ng-container>

    <!-- Dif. Puntos Column -->
    <ng-container matColumnDef="difPuntos">
      <th mat-header-cell *matHeaderCellDef>Dif. Puntos</th>
      <td
        mat-cell
        *matCellDef="let element"
        [ngClass]="{ esUserLogueado: element.id === idBuscado }"
      >
        <div class="difPuntos">
          <span *ngIf="element.posicionRespectoUserLogueado === 1">
            <img
              class="inferior"
              src="/assets/images/inferior.png"
              alt="inferior"
            />
          </span>
          <span *ngIf="element.posicionRespectoUserLogueado === 2">
            <img
              class="superior"
              src="/assets/images/superior.png"
              alt="superior"
            />
          </span>
          <span *ngIf="element.difPuntos > 9 || element.difPuntos == 0">
            &nbsp;{{ element.difPuntos }}
          </span>
          <span *ngIf="element.difPuntos < 10 && element.difPuntos > 0">
            &nbsp;&nbsp;&nbsp;{{ element.difPuntos }}
          </span>
        </div>
      </td>
    </ng-container>

    <!-- Puntos Column -->
    <ng-container matColumnDef="puntos">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Puntos</th>
      <td
        mat-cell
        *matCellDef="let element"
        [ngClass]="{ esUserLogueado: element.id === idBuscado }"
      >
        {{ element.puntos }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      class="fila"
    ></tr>
  </table>
</span>
