<div id="main">
  <app-header [vistaLiga]="true"></app-header>
  <h1>¡Bienvenido @{{ userLogueado.usuario.toUpperCase() }}!</h1>

  <div id="contenido">
    <div id="cards">
      <mat-card class="card" (click)="navigate('/liga/crearLiga')">
        <mat-card-content>
          <mat-icon aria-label="crearLiga">add_circle</mat-icon>
          <div class="info">
            <h2><strong> CREAR NUEVA LIGA </strong></h2>
            <p>
              Crea una liga nueva, obtén un código y <br />
              ¡compártelo con todos tus amig@s!
            </p>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="card" (click)="navigate('/liga/unirseLiga')">
        <mat-card-content>
          <mat-icon aria-label="crearLiga">login</mat-icon>
          <div class="info">
            <h2><strong> UNIRSE A UNA LIGA </strong></h2>
            <p>
              Introduce el código y <br />
              ¡únete a la liga de tus amig@s!
            </p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <app-footer></app-footer>
</div>
