<!-- <div id="barraNavegacion">
    <nav>
        <a href="#">Inicio</a>
        <a href="#">Clasificación</a>
        <a href="#">Alineación</a>
        <a href="#" class="logo"><span class="textLogo">FutsalFantasy</span>
            <img class="imgLogo" src="/assets/images/logoFutsalFantasy.png" alt="logo">
        </a>
        <a href="#">Mercado</a>
        <a href="#">Jornada</a>
        <button mat-raised-button id="login"><span>¡Hola <span class="mayus">{{currentUser.usuario}}</span>!</span></button>
    </nav>
</div> -->
<mat-toolbar id="navbar" *ngIf="!vistaLiga">
  <button [ngClass]="estilo" (click)="navigate('/inicio')">Inicio</button>
  <button [ngClass]="estilo" (click)="navigate('/clasificacion')">
    Clasificación
  </button>
  <button [ngClass]="estilo" (click)="navigate('/alineacion')">
    Alineación
  </button>
  <span class="logo" [ngClass]="estilo">
    <span class="textLogo">FutsalFantasy</span>
    <img
      class="imgLogo"
      src="/assets/images/logoFutsalFantasy.png"
      alt="logo"
    />
  </span>
  <button [ngClass]="estilo" (click)="navigate('/mercado')">Mercado</button>
  <!-- <button [ngClass]="estilo" (click)="navigate('/jornada')">Jornada</button> -->
  <button mat-raised-button id="login" [matMenuTriggerFor]="menu">
    ¡Hola {{ currentUser.usuario }}!
  </button>
  <mat-menu #menu="matMenu" xPosition="before">
    <button mat-menu-item class="menu" (click)="navigate('/perfil')">
      Perfil
    </button>
    <button mat-menu-item class="menu" (click)="logout()">Cerrar sesión</button>
  </mat-menu>
</mat-toolbar>

<mat-toolbar id="navbarBlanco" *ngIf="vistaLiga">
  <span class="logo">
    <span class="textLogoBlanco">FutsalFantasy</span>
    <img
      class="imgLogo"
      src="/assets/images/logoFutsalFantasy.png"
      alt="logo"
    />
  </span>
</mat-toolbar>
