h1 {
  font-size: 3vw;
  display: flex;
  justify-content: center;
  margin-bottom: 3vw;
}

#info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#tabla {
  display: flex;
  justify-content: center;
}

table {
  text-align: center;
  border-radius: 0.5vw;
  border: none;
  overflow: hidden;
  box-shadow: 6px 8px 2px 0px rgba(0, 0, 0, 0.377);
  margin-bottom: 3vw;

  th {
    padding: 1vw;
    font-size: bold;
    background: rgb(0, 0, 0);
    color: white;
    font-size: 1vw;
    border-collapse: collapse;
  }

  tr {
    width: 90%;
    background-color: rgb(191, 191, 191);
    transition: transform 250ms;

    &.filaHover:hover {
      background: var(--degradado);
      transition: transform 250ms;
    }

    td {
      font-size: 1.2vw;
      padding: 0;

      &.titular {
        background-color: rgba(0, 0, 0, 0.299);
        // color: white;
      }

      button {
        transition: transform 250ms;
        &:hover {
          transform: scale(1.1);
          transition: transform 250ms;
          background-color: rgb(120, 119, 119);
          border: 2px solid white;
          color: white;
        }

        &.enVenta {
          transition: transform 250ms;
          background-color: rgba(7, 250, 242, 0.608);
          color: black;
          &:hover {
            transition: transform 250ms;
            background-color: rgba(1, 185, 179, 0.818);
          }
        }
      }

      img {
        width: 4vw;
        &.propietario {
          width: 6vw;
        }
        &.imagenJugador {
          border-radius: 50%;
          width: 6vw;
        }
      }

      &.PT {
        span {
          border: 1px solid black;
          background-color: yellow !important;
          padding: 1vw;
          border-radius: 50%;
        }
      }
      &.CI {
        span {
          border: 1px solid black;
          background-color: var(--azul);
          padding: 1vw 1.15vw;
          border-radius: 50%;
        }
      }
      &.AL {
        span {
          border: 1px solid black;
          background-color: rgb(2, 255, 2);
          padding: 1vw;
          border-radius: 50%;
          color: black;
        }
      }
      &.PV {
        span {
          border: 1px solid black;
          background-color: red;
          padding: 1vw;
          border-radius: 50%;
          color: white;
        }
      }
    }
  }
}

::ng-deep .mat-sort-header-arrow {
  color: white;
  zoom: 1.5;
}

:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}
