#main {
  background: linear-gradient(black, var(--azul));

  #contenido {
    margin: 2vw 10vw;
    h1 {
      margin: 3vw 0;
    }
    .user {
      display: flex;
      justify-content: space-around;
      align-items: center;

      h1 {
        font-size: 4vw;
        color: white;
      }
      button {
        background-color: transparent;
        mat-icon {
          font-size: 3vw;
          &:hover {
            color: var(--rosa);
          }
        }
      }
    }
    #info {
      display: flex;
      justify-content: center;
      align-items: center;

      #equipo {
        background-color: white;
        border-radius: 0.5vw;
        padding: 1vw 3vw;
        font-size: 1.5vw;
        box-shadow: 6px 8px 2px 0px rgba(0, 0, 0, 0.377);

        img {
          width: 15vw;
          border-radius: 1vw;
        }
        #liga {
          margin-right: 2vw;

          #nombre {
            text-align: center;
          }
        }
        #tabla {
          span {
            font-size: 2.5vw;
          }
        }
      }

      button {
        background: none;
        border: none;
        transition: transform 250ms;

        &:hover {
          transition: transform 250ms;
          transform: scale(1.5);
        }
      }

      #buttons {
        display: flex;
        justify-content: space-around;
        align-items: center;
      }

      .enter {
        font-size: 2vw;
        padding: 1vw 2vw;
        transition: transform 250ms;
        border: none;
        border-radius: 1vw;
        background-color: black;
        color: white;

        &:hover {
          background: var(--degradado);
          transition: transform 250ms;
          border: none;
          span {
            background: black;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }

      .buttonDisabled {
        font-size: 2vw;
        padding: 1vw 2vw;
        border: none;
        border-radius: 1vw;
        transition: transform 250ms;
        background-color: #b3010175;
        color: rgba(255, 255, 255, 0.623);
      }

      .cancelar {
        font-size: 2vw;
        padding: 1vw 2vw;
        transition: transform 250ms;
        border: none;
        border-radius: 1vw;
        background-color: rgb(214, 214, 214);
        &:hover {
          background-color: rgba(0, 0, 0, 0.441);
          transition: transform 250ms;
          border: none;
          color: white;
        }
      }
    }
    #tabs {
      margin: 2vw 5vw 3vw;
      background-color: white;
      border-radius: 1vw;
      box-shadow: 6px 8px 2px 0px rgba(0, 0, 0, 0.377);
      padding: 3vw 1vw 2vw;
    }
  }
}

#mensaje {
  background-color: rgba(143, 142, 142, 0.574);
  border: 2px solid white;
  border-radius: 0.5vw;
  padding: 1vw 3vw;
  font-size: 1.5vw;
  display: none;
  color: black;
  z-index: 2;
  margin-left: 1vw;
}
